<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録完了</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5"> <!-- mt-5 でフォーム全体を下に下げる -->
            <h2 class="text-center mb-4">登録が完了しました</h2>
            <p>おすすめスポットが登録されました。</p>
            <a href="{% url 'home' %}">ホームに戻る</a>
            <a href="{% url 'add_spot' applicant_id=applicant_id %}">おすすめスポットを追加する</a>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
