{% extends "base/base.html" %}
{% load static %}
   
{% block body %}
<div class="checklist">
    <h1>チェックリスト</h1>
    <a href="{% url 'add_item' plan.id %}">
        <button class="add-item-button">アイテムを追加</button>
    </a>
    <ul>
        {% for item in items %}
        <input type="checkbox" {% if item.situation %}checked{% endif %}>
        <li>
                {{ item.category }}

                {{ item.name }} 
            
            {% endfor %}
        </li>
    </ul>
</div>
{% endblock %} 

