<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in all_costs %}
        {{ i.cost_name }}
        {{ i.cost_genre }}
        {{ i.cost_wallet }}
        <br>
    {% endfor %}
    {% for i in all_payments %}
        {{ i.cost }}
        {{ i.cost.cost_name }}
        {{ i.cost.cost_genre }}
        {{ i.cost.cost_wallet }}
        {{ i.payment_payers }}
        {{ i.payment_money }}
        <br>
    {% endfor %}
</body>
</html>