<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5"> <!-- mt-5 でフォーム全体を下に下げる -->
            <h1 class="text-center mb-4">パスワード再設定</h1>
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">登録したメールアドレス</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">再設定リンクを送信</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}">ログインに戻る</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
