{% extends "base/base.html" %}
{% load static %}
   
{% block body %}
<div class="plan-details">
    
    {% load static %}
    <img src="{% if plan.image %}{{ plan.image.url }}{% else %}{% static 'app/images/muzi.jpg' %}{% endif %}" alt="旅行プランの画像" class="plan-image">

    <p><strong>出発日:</strong> {{ plan.start_dt }}</p>
    <p><strong>帰還日:</strong> {{ plan.end_dt }}</p>
    <p><strong>予算:</strong> ¥{{ plan.budget }}</p>
    <p><strong>詳細:</strong> {{ plan.description }}</p> <!-- プランの詳細説明があれば表示 -->
    <a href="{% url 'member' plan.id %}" class="back-link">メンバー</a>
</div>

<a href="{% url 'home' %}" class="back-link">戻る</a>
{% endblock %}