{% extends "base/base.html" %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'app/css/schedule.css' %}?v={{ timestamp }}">
{% endblock %}

{% block body %}
<div class="schedule">
    <!-- タブ部分 -->
    <div class="tab" id="tabContainer">
        {% for day in plan_days_range %}
        <form action="{% url 'schedule' plan.id %}" method="post">
            {% csrf_token %}
            <button 
                type="submit" 
                id="day" 
                name="day" 
                value="{{ day }}" 
                class="{% if day == select_day %}active{% endif %}">
                {{ day }}日目
            </button>
        </form>
        {% endfor %}
    </div>

    <!-- 選択された日のスケジュール表示 -->
    <h3>{{ select_day }}日目のスケジュール</h3>
    {% if schedules %}
    <ul>
        {% for schedule in schedules %}
        <li>
            <a href="{% url 'schedule_detail' plan.id schedule.id %}">{{ schedule.title }}</a><br>
            <span>開始時刻: {{ schedule.start_at }}</span><br>
            <span>終了時刻: {{ schedule.end_at }}</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>スケジュールがありません。</p>
    {% endif %}

    <!-- スケジュール追加ボタン -->
    <a href="{% url 'schedule_create' plan_id=plan.id day=select_day %}" style="text-decoration: none;">
        <button class="add-schedule-btn">{{ select_day }}日目のスケジュールを追加する</button>
    </a>
    
</div>
{% endblock %}
