{% extends "base/base.html" %}
{% load static %}


   
{% block body %}
<!-- メッセージの表示部分 -->
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data" class="margin-top">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">共有したい人のメールアドレスを入力してください</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">送信</button>
</form>


<style>
    .margin-top{
        margin-top:120px;
    }
</style>
{% endblock %}

